 /* ================ CSS Classes ================ */

.DivStaticSpeedRate {
	background-color: rgba(41, 41, 41, 0.3);
	position: absolute;
	font-size: 12px;
	top: 10px;
	left: 10px;
	z-index: 999;
	padding: 5px;
}

.PStaticSpeedRate {
	color: white;
}

.DivSpeedRate {
	background-color: rgb(255, 255, 255, 0.3);
    position: absolute;
    width: 100%;
    height: 100%;
	font-size: 122px;
	z-index: 30;
    padding: 5px;
    display: none;
}

.DivSpanSpeedRate {
    display:table;
    width: 100%;
    height: 100%;
}

.SpanSpeedRate {
    display:table-cell;
    vertical-align:middle;
    text-align: center;
}