body {
  margin: 0 1em;
  width: 388px;
}

.title {
  color: grey;
  font-size: 17px;
  font-weight: bold;
  overflow: auto;
  border-bottom: 1px solid #eee;
}

.logo {
  float: left;
  margin: 10px 10px;
  height: 50px;
}

h2 {
  float: left;
  margin: 16px 5px;
}

.form {
  font-family: arial;
  padding: 10px;
}

.form-item {
  padding-bottom: 10px;
}

.form-item input {
  width: 100%;
}

.form-item-label {
  display: block;
}

.form-footer {
  padding-top: 10px;
  text-align: center;
}

.form-footer input {
  height: 40px;
  width: 100%;
}

.form-message {
  padding-top: 10px;
  font-size: 14px;
}

.form-message.hidden {
  display: none;
}

.form-message.success {
  color: green;
}

.form-message.failed {
  color: red;
}