body {
  font-family: arial;
  width: 388px;
}

.title {
  color: grey;
  font-size: 17px;
  font-weight: bold;
  overflow: auto;
  border-bottom: 1px solid #eee;
}

.logo {
  float: left;
  margin: 10px 10px;
  height: 50px;
}

h2 {
  float: left;
}

.form {
  padding: 10px;
}

.form-item {
  position: relative;
  line-height: 30px;
  padding: 15px;
}

.form-item-label {
  display: block;
}

.form-footer {
  padding-top: 10px;
  text-align: center;
}

.form-footer input {
  height: 40px;
  width: 100%;
}

.form-message {
  padding-top: 10px;
  font-size: 14px;
}

.form-message.hidden {
  display: none;
}

.form-message.success {
  color: green;
}

.form-message.failed {
  color: red;
}

/* toggle switch [START} */
.switch {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 24px;
  top: 18px;
  right: 17px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #ED2024;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(26px);
  transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* toggle switch [END} */